@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(52, 52, 52);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper .card {
    background-color: #fff;
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    border-radius: 100px 20px 20px 100px;
    animation: animate 15s linear infinite;
    animation-delay: calc(3s * var(--delay));
}

.wrapper .card:last-child {
    animation-delay: calc(-3s * var(--delay));
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    5%, 20% {
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }
    25%, 40% {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0%) scale(1);
    }
    45%, 60% {
        opacity: 0.4;
        transform: translateY(-100%) scale(0.7);
    }
    65%, 100% {
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
    }
}

.card .content {
    display: flex;
    align-items: center;
}

.wrapper .card .img {
    height: 90px;
    width: 90px;
    position: absolute;
    left: -5px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card .details {
    margin-left: 80px;
}

.details span {
    font-weight: 700;
    font-size: 21px;
}

.card a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(52, 52, 52);
    padding: 7px 15px;
    border-radius: 25px;
    transition: 0.3s;
}

@media screen and (max-width: 560px) {
    .wrapper .card {
        width: 320px;
        padding: 21px 12px;
    }

    .wrapper .card .img{
        width: 70px;
        height: 70px;
        left: 1px;
    }

    .card .details {
        margin-left: 66px;
    }

    .details span {
        font-size: 15px;
    }

    .details p {
        font-size: 12px;
    }
}